# Nvim
config/nvim/autoload/
config/nvim/session/
config/nvim/.netrwhist

# Mpv
config/mpv/scripts/total_playtime.list
config/mpv/watch_later/

# Copyq
config/copyq/copyq-*
config/copyq/copyq_*
config/copyq/copyq.pub

# Ranger
config/ranger/plugins

# Dwm
config/dwm/*.o
config/dwm/dwm

# Scripts
scripts/etc/emby
